Area[[:space:]]and[[:space:]]Volume[[:space:]]between[[:space:]]two[[:space:]]curves.mp4 filter=lfs diff=lfs merge=lfs -text
Ratio[[:space:]]&[[:space:]]Root[[:space:]]Tests[[:space:]]_[[:space:]]Geometric[[:space:]]Series[[:space:]]Generalized.mp4 filter=lfs diff=lfs merge=lfs -text
